.ruka{
    cursor:pointer;
    font-weight: bold;
    color: #63122c;
}

.sredina{
    text-align: center;
}

.desno{
    text-align: right;
}

.siroko{
    width: 100%;
}

.akcije{
    margin-top: 20px;
}

